<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832607431372-ct7juaqvpvrk1gnlo2vgme9jk5kvn9lc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832607431372-ct7juaqvpvrk1gnlo2vgme9jk5kvn9lc</string>
	<key>API_KEY</key>
	<string>AIzaSyBE2XFsrVG2R1hsWcl2yAVBjT1r1_UbHXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>832607431372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>frontyard.CoffeeOrderApp</string>
	<key>PROJECT_ID</key>
	<string>coffeeapp-8cd8c</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeeapp-8cd8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832607431372:ios:ff3d5699b044bd9029f069</string>
	<key>DATABASE_URL</key>
	<string>https://coffeeapp-8cd8c.firebaseio.com</string>
</dict>
</plist>